{% extends "sim/galerie.html" %}

{% block titre %}
<title>Communaute simula</title>
<style type="text/css">
  hr {
    border: 1px solid darkcyan;
    width: 1000px;
    margin-left: -18%;
    }
</style>

{% endblock %}


{% block page %}

{% load static %}


<!-- Team Section -->
<div id="team" class="text-center">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 section-title">
      <h2>Communauté SimulaMath</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
    </div>
    <div id="row">
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="{% static "static_galerie/img/team/01.jpg" %}" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>John Doe</h3>
            <p>Founder / CEO</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="{% static "static_galerie/img/team/02.jpg" %}" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Mike Doe</h3>
            <p>Web Designer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="{% static "static_galerie/img/team/03.jpg" %}" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Jane Doe</h3>
            <p>Creative Director</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="{% static "static_galerie/img/team/04.jpg" %}" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Larry Show</h3>
            <p>Project Manager</p>
          </div>
        </div>
      </div>
      </div> 

    <div class="col-md-8 col-md-offset-2 section-title">
     <hr>
     <br>
      <h2>Lorem is ....</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
    </div> 
    <div class="col-md-8 col-md-offset-2 section-title">
     <hr>
      <br>
      <h2>Lorem is ....</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
    </div> 
      <div class="col-md-8 col-md-offset-2 section-title">
     <hr>
     <br>
      <h2>Lorem is ....</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
    </div> 
    <div class="col-md-8 col-md-offset-2 section-title">
     <hr>
      <br>
      <h2>Lorem is ....</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
    </div> <br><br><br><br><br>


    </div>

  </div>

{% endblock %}