{% extends "sim/galerie.html" %}

{% block titre %}
<title>à propos</title>

{% endblock %}


{% block page %}

{% load static %}
<div id="team" class="text-center">
  <div class="container">
    <center style=" margin-top: 200px; margin-bottom: 650px;">
    	<div class="col-md-8 col-md-offset-2 section-title">
        <h3>SimulaMath pour l'enseignement des Mathematiques et la recherche</h3>
        </div>
    </center>


    <div class="col-md-8 col-md-offset-2 section-title">
		     <hr>
		      <h2>Lorem is ....</h2>
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
		</div> 
	    <div class="col-md-8 col-md-offset-2 section-title">
		     <hr>
		      <h2>Lorem is ....</h2>
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
		    </div> 
        </div>
    
  </div>
</div>
{% endblock %}