{% extends "sim/galerie.html" %}

{% block titre %}
<title>Contact</title>

{% endblock %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="{% static "image/sim_icon5.ico" %}"/>

{% block page %}

{% load static %}

<style>
 #contact .card:hover i,#contact .card:hover h4{
	{#color: #87d37c;#}
     color: #25BAD0;
}
.text-center{
    color: #fff;
}
#form{
    margin-top: -38px;
}
#contact{
    margin-top: 2px;
}

</style>


<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 section-title">
        <h2>SimulaMath {{name}}</h2>
          <h3>
               <p style="color: #fff; font-size: 20px; ">
                Si vous avez une suggestion, une question contactez-nous.
               </p>
          </h3>
      </div>
      <div class="col-md-8 col-md-offset-2" id="form">
        <form name="sentMessage" id="contactForm" novalidate method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="name" class="form-control" name="name" placeholder="Name" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn " style="background-color: #25BAD0; ">Laisser un message</button>
        </form>
       {% comment %} <div class="social">
            <span></span>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>{% endcomment %}
          <div class="social"> <h3 class="text-center text-uppercase">contact</h3></div>
      </div>
           <div class="row">
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i  class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Téléphone</h4>
                    <p>(221) 779866095, (221) 776747957</p>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3 " aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Adresse</h4>
                   <address>Dakar Fann </address>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-linkedin fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Linkedin</h4>
                   <address>Lien vers Linkedin</address>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Email</h4>
                    <p>michel.seck@gmail.com</p>
                  </div>
                </div>
             </div>
           </div>
    </div>
  </div>



</div>
{% if send %}
  <script type="text/javascript"> 
    alert('Message envoyé avec success')
  </script>>
{% endif%}

{% endblock%}