{% extends "sim/galerie.html" %}

{% block titre %}
<title>Ajouter un exercice corrigé</title>

{% endblock %}


{% block page %}

{% load static %}
<style type="text/css">
    
    .section-title {
    font-family: "Raleway",sans-serif;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}
.section-title {
    padding: 0 ;
}
</style>
<div id="team" class="text-center">
  <div class="container">
    <center style=" margin-top: 200px; margin-bottom: 650px;">
    	<div class="col-md-8 col-md-offset-2 section-title">

    		<h3>{{ value|urlize }}</h3>
        <h3>SimulaMath pour l'enseignement des Mathematiques et la recherche {{ user.name }}</h3>
        </div>
    </center>

       <div id="main-content-share-code">
       <form action="" autocomplete="off" method="post">
         <textarea name="code" id="code" required="required"
          placeholder="Entrer votre code ici">Code html</textarea>
         <div class="btn-group nav-code">
           <a href="share_code.php" class="btn btn-danger">Tout effacer</a>
           <input type="submit" name="save" value="Enregistrer"
           class="btn btn-success">
         </div>

       </form>
     </div>

    
  </div>
</div>

 <script src="assets/js/tabby1.min.js"></script>
 <script>
      $('#code').tabby();
      $('#code').height( $(window).height() -50 );
 </script>

{% endblock %}